@import url(http://fonts.googleapis.com/css?family=Kaushan+Script|Nobile);

header{
	width: 100%;
}

.left-header{
	display: inline-block;
	float: left;
	width: 400px;	
}

.left-header h1{
	font-family: 'Kaushan Script', cursive;
	font-size: 5em;
}

.right-header{
	display: inline-block;
	float: right;
	width: 400px;		
}

.right-header h2{
	font-family: 'Nobile', cursive;
	padding-top: 90px;
}

.clear{
	clear: both;
}

