@import url(http://fonts.googleapis.com/css?family=Kaushan+Script|Nobile);

header{
	width: 1000px;
	margin: 0 auto;
	display: block;
}

#left-header{
	display: block;
	font-family: 'Kaushan Script', cursive;
	font-size: 5em;
	float: left;
	
}
#right-header{
	display: block;
	float: right;	
	font-family: 'Nobile', sans-serif;
	width: 40%;
	font-size: 1.2em;
	text-align: right;
}

.clear{
	clear: both;
}

nav ul{
	text-align: center;
}

nav li{
	display: inline;
	padding-left: 150px;
	padding-right: 150px;
	font-family: 'Nobile', sans-serif;
	font-size: 20pt;
}

nav a:hover{
	color: red;
}

nav a{
	color: black;
	text-decoration: none;
}
