@import url(http://fonts.googleapis.com/css?family=Kaushan+Script|Nobile);

body{
	background-color: #787A40;
	color: white;
}
#wrapper{
	width: 1100px;
	margin: 0 auto;
}

header{
	width: 1100px;
	margin: 0 auto;
	display: block;
}

#left-header{
	display: block;
	font-family: 'Kaushan Script', cursive;
	font-size: 5em;
	float: left;
	padding: 0px;
	margin-left: 0px;
	margin-bottom: 10px;
	margin-top: 10px;
}
#right-header{
	display: block;
	float: right;	
	font-family: 'Nobile', sans-serif;
	width: 40%;
	font-size: 1.2em;
	text-align: right;
	margin-bottom: 10px;
	margin-top: 10px;
}

#logo{
	width: 100px;
	float: left;
	margin-top: 15px;
}

.clear{
	clear: both;
}

.banner-box{
	top: 200px;
	width: 1100px;
	height: 500px;
	margin: 0 auto;
	background-color: #C8AB65;
}
.banner{
	height: 500px;
}

ul#listheaders{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

li{
	padding: 40px;	
	display: inline-block;
	font-family: 'Nobile', sans-serif;
	font-size: 20pt;
}
a:hover{
	color: #C8AB65;
}

a{
	color: white;
	text-decoration: none;
}

footer{
	margin-top: 50px;
	height: 200px;
	width: 1100px;
	margin: 0 auto;
}

footer a{
	display: inline-block;
}

/******** Icons ********/

.icons{
	font-size: 50px;
	height: 150px;
	padding-top: 100px;
}

.icons img{
	width: 50px;
}

.icons a{
	text-decoration: none;
	padding-left: 110px;
	padding-right: 110px; 
	color: black;
	height: 150px;
	float: left;
}

.icons i{
	padding-top: 28px;
}
/******** Home ********/

.content-boxes{
	font-family: 'Nobile', sans-serif;
	width: 500px;
	margin: 20px;
	float: left;
}

h2{
	font-family: 'Kaushan Script', cursive;
}

p{
	font-family: 'Nobile', sans-serif;
}

/******** Donate ********/ 

#donate{
	font-family: 'Nobile', sans-serif;
}

#donate h2{
	font-family: 'Kaushan Script', cursive;
	font-size: 20pt;
	background-color: #9B8B80;
}

#donate h3{
	background-color: #9B8B80;
	text-align: center;
}

.forms{
	padding-top: 32px;
	width: 900px;
	margin: 0 auto;
}

.form1{
	width: 45%;
	display: inline-block;
	float: left;
}

.form2{
	width: 45%;
	display: inline-block;
	float: left;
	margin-right: 24px;
	margin-left: 24px;
}

form{
	padding-top: 32px;
}

.radio input{
	width: 28px;
	margin-left: 12px;
}

.submit{
	background: #9B8B80;
	height: 64px;
}

.submit:hover{
	background-color: #34722A;
	font-size: 25pt;
}

form input, select{
	height: 18px;
	margin-top: 12px;
	margin-bottom: 18px;
	width: 300px;
}
/******** News ********/

div.left-news{
	margin-left: 125px;
	float: left;
	width: 400px;
}

div.right-news{
	margin-left: 125px;
	float: left;
	width: 400px;
}

.news-image{
	height: 200px;
}
/******** Thank You *******/

#thanks{
	font-family: 'Kaushan Script', cursive;
}